<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <script type="text/javascript">
    $(function () {
        $.ajax({
            type: "GET",
            url: "/api/products",
            success: function (data) {

                $(data).each(function (i, item) {

                    $('#contacts').append('<li>' + item.Name+' | Description:  '+item.Description+ '</li>');


                });
                //get an id after the above load all data
                $.ajax({
                    type: "GET",
                    url: "/api/products/24",
                    success: function (data) {
                        $('#Name').val(data.Name);
                        $("#Description").val(data.Description);
                        $("#Category").val(data.Category);
                        $("#Price").val(data.Price);

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }


                });


            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });

       


       

    });
    
  //update a column by removing everything and add another column with new id
    $('#saveProduct').on("click", function () {
   
        $.ajax({
            type: "PUT",
            url: "/api/products/24",
            data: $('#saveProductForm').serialize(),
            dataType: "json",
            success: function () {
                alert("success");
                //refill in the data after delete
                $.ajax({
                    type: "GET",
                    url: "/api/products",
                    success: function (data) {
                        $('#contacts').html("");
                        $(data).each(function (i, item) {      
                            $('#contacts').append('<li>' + item.Name + ' | Description:  ' + item.Description + '</li>');

                        });

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });

               // $('#contacts').append('<li>' + data.Name + ' | Description:  ' + data.Description + '</li>');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }

        });


    });

    </script>


</body>
</html>
